body {
  background-color: #0e0e0e;
  color: #ccc;
}

button {
  background-color: #2b2b2b !important;
  border: 1px solid #444 !important;
  color: #ccc !important;
}

.container {
  background-color: #1a1a1a !important;
  border-radius: 10px;
  padding: 20px;
}
